* {
    margin: 0;
    padding: 0;
}
.w-sectoin {
    width: 1070px;
    margin: 0 auto;
}
/* ------------header------------- */

.header-section {
    font-family: "DM Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
}
nav a {
    color: #696871;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.469px;
    text-decoration: none;
    
}
.header-button {
    width: 211.02px;
    height: 60px;
    border-radius: 10px;
    background: #FF7143;
    border: none;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
}
.active-link {
    color: #000;
    border-bottom: 2px solid #5454D4;
}
/* -----------section1--------- */

.subscription-business {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 68px;

}
.subscription-business h2 {
    color: #19191B;
    font-family: "DM Sans", sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 77px; /* 102.667% */
    letter-spacing: -2.501px;
}
.subscription-business p {
    color: #696871;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.625px;
    margin: 30px 0 50px 0;
}
.subscription-business button {
    width: 188.211px;
    height: 60px;
    border-radius: 10px;
    background: #5454D4;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
    border: none;
}
/* --------logos-------- */
.logos {
    display: flex;
    justify-content: space-between;
    padding: 132px 0;
}
/* ----------------section2------- */
.subscription-index {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 84px;
}
.subscription-index h2{
    color: #19191B;
    font-family: "DM Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px; /* 114% */
    letter-spacing: -1.563px;
}
.subscription-index p {
    color: #696871;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.625px;
    margin: 30px 0;
    width: 459px;
}
.subscription-index a {
    color: #5454D4;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.531px;
    text-decoration: none;
}
/* ---------------section3-------- */

.in-depth-metrics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 138px;
}

.in-depth-metrics h2 {
    color: #19191B;
    font-family: "DM Sans", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 57px; /* 114% */
    letter-spacing: -1.563px;
}

.in-depth-metrics p {
    color: #696871;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.625px;
    width: 409px;
    margin: 30px 0;
}

.in-depth-metrics a {
    color: #5454D4;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.531px;
    text-decoration: none;
}
/* ----------sections4----------- */
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
    margin-bottom: 150px;
}
.options-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon {
    width: 151px;
    height: 97px;
}
.options h4 {
    color: #19191B;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px; /* 150% */
    letter-spacing: -0.75px;
}
.options p {
    color: #696871;
    text-align: center;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.5px;
}
/* ---------section5-------------- */
.future-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 82px;
}
.future-product h2 {
    width: 523px;
    color: #19191B;
    font-family: "DM Sans", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px; /* 116.667% */
    letter-spacing: -1.876px;
}
.future-yearly {
    width: 160px;
    height: 55px;
    border-radius: 10px 0px 0px 10px;
    background: #5454D4; 
    width: 160px;
    height: 55px;
    color: #FFF;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;

}
.future-monthly {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 344px;
    height: 65px;
    border-radius: 10px;
    background: #F7F7FB;
    color: #19191B;
    text-align: right;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
    
}
/* ------------------sections6 cards----------- */
.last-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 158px;
}
.no-ective {
    width: 330px;
    height: 441px;
    border-radius: 10px;
    background: #F8F8F8;
}

.proposition {
    color: #696871;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.563px;
    margin-top: 34px;
    margin-bottom: 28px;
}
.no-ective h2 {
    color: #1D293F;
    text-align: center;
    font-family: "DM Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 93.333% */
    letter-spacing: -1.034px;
    margin-bottom: 28px;
}
span {
    font-size: 36px;
}
.no-ective-discription{
    color: #696871;
    text-align: center;
    font-family: "Mulish", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 294.118% */
    letter-spacing: -0.531px;
}
.no-ective-button{
    width: 285px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #EAE9F2;
    background: #FFF;
    color: #5454D4;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.531px;
    margin: 36px 24px 27px 24px;
}
.ective {
    width: 376px;
    height: 473px;
    border-radius: 10px;
    background: #FF7143;
    box-shadow: 0px 32px 34px 0px rgba(255, 112, 59, 0.32);
}

.ective-proposition{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.563px;
    margin: 50px 0 22px 0;
}
.ective h2 {
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 93.333% */
    letter-spacing: -1.034px;
}
.ective-discription {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 294.118% */
    letter-spacing: -0.531px;
    margin-top: 28px;
}
.ective-button  {
    width: 305px;
    height: 60px;
    border-radius: 10px;
    background: #9F3919;
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.531px;
    margin: 36px 34px 43px 34px;
    border: none;
}